/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #2e3d49;
}

a, p {
  line-height: normal;
}

a,
a:focus {
  color: #525c65;
}

a:hover,
a:active {
  color: #7d97ad;
}

h2 {
  font-size: 16px;
}

p {
  line-height: 1.2;
}

button:focus {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.App-header {
  background-color: #863694;
  padding: 1em;
  font-size: 1.2em;
  color: white;
}

.App-main {
  padding: 1.5em;
  margin: 0 auto;
}

.dashboard {
  margin-bottom: 2em;
}

.App-contain {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.App-file-reader + label {
  margin-left: 20px;
  -webkit-font-smoothing: antialiased;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.85em 1em;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #863694;
  display: inline-block;
  max-width: 100%;
  letter-spacing: 0.165em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: 0.2s background-color ease-in-out,
              0.2s border-color ease-in-out;
  white-space: nowrap;
}

.App-file-reader {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.App-intro {
  font-size: 16px;
}

.App-select {
  margin-bottom: .5em;
}

.Select-class {
  width: 100%;
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.dashboard:first-of-type {
  margin-bottom: 40px;
}

.bold {
  font-weight: 600;
}

.standards {
  flex-basis: 60%;
}

.students {
  flex-basis: 35%;
}

.student-title {
  margin-bottom: 20px;
}

.standard {
  display: flex;
  flex-flow: row-nowrap;
  align-items: center;
  justify-content: space-between;
  max-height: 60px;
  padding-right: 20px;
}

.standard-group + .standard-group,
.standard + .standard {
  margin-top: 20px;
}

.standard-link {
  overflow: hidden;
  display: inline-block;
  max-height: 60px; /* Same as max-height for .standard (standard row) */
}

.standard-title {
  flex-basis: 30%;
}

.standard-bars {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dbe2e8;
  height: 61px;
}

.labels {
  border: none;
}

.standard-bar {
  flex-basis: 1%;
  min-width: 20px; /* matches WIDTH of bar */
  text-align: center;
}

.standard-value {
  flex-basis: 5%;
  text-align: right;
}

.asssessment-count {
  text-align: left;
}

.rotate {
  width: 3%;
  transform: rotate(-45deg);
}

.button-contain {
  position: relative;
}

.reset-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7d97ad;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  padding: 8px 10px;
  height: 28px;
}

#sections-compare {
  position: relative;
}

.letter-grade-count-tooltip,
.sections-compare-tooltip,
.student-tooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 4px;
  border: 1px solid #dbe2e8;
  padding: 14px;
  pointer-events: none;
  line-height: 1.4;
}

.student-grades-x-axis > .tick {
  fill: #dbe2e8;
}

.toggle {
  width: 40px;
  height: 40px;
}

.toggle-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.assessments {
  margin-top: 20px;
  background-color: #f2f2f2;
}

/* from https://stackoverflow.com/a/22156412 */
.Chevron {
    position: relative;
    display: block;
    height: 20px; /*height should be double border*/
}
.Chevron:before,
.Chevron:after {
    position: absolute;
    display: block;
    content: "";
    border: 10px solid transparent; /*adjust size*/
}
/* Replace all text `top` below with left/right/bottom to rotate the chevron */
.Chevron-down:before {
    top: 0;
    border-top-color: rgb(152, 78, 163); /*Chevron Color*/
}

.Chevron-down:after {
    top: -4px; /*adjust thickness*/
    border-top-color: #fff; /*Match background colour*/
}

.Chevron-right:before {
    left: 0;
    border-left-color: rgb(152, 78, 163);
}

.Chevron-right:after {
    left: -4px;
    border-left-color: #fff;
}

.sections-compare {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.sections-compare-x-axis .tick text {
  font-size: 16px;
  fill: #2e3d49;
}

.sections-compare-x-axis .tick line {
  stroke: #7d97ad;
}

.student-grades-y-axis,
.student-grades-x-axis {
  font-size: 14px;
}

.student-grades-y-axis .domain,
.student-grades-x-axis .domain {
  stroke: #dbe2e8;
}

.student-grades-y-axis .tick line {
  visibility: hidden;
}

.student-grades-x-axis .tick text
.student-grades-y-axis .tick text {
  fill: #2e3d49;
}

.student-grades-y-axis .tick:hover text {
  fill: #7d97ad;
  cursor: pointer;
}

.student-grades-x-axis .tick:first-of-type line,
.student-grades-x-axis .tick:last-of-type line {
  stroke: #dbe2e8;
}

